.catalog-section .section__body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
}

.catalog-section__filters {
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
}

.catalog-section__filters form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.catalog-section__filters__buttons {
    margin-top: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.filter-group label {
    margin-bottom: 10px;
    display: inline-block;
}

.filter-group__body {
    display: flex;
    gap: 20px;
    position: relative;
}

.filter-group__body-checkboxes {
    flex-direction: column;
    gap: 10px;
}

.filter-group__body:has(input:not([type="checkbox"]) + input:not([type="checkbox"])):before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3d3d3d;
}

.filter-group__body :where(input:not([type="checkbox"]), select) {
    width: 100%;
}

.checkbox__group {
    display: flex;
    gap: 10px;
}

.catalog-section__module-tag {
    font-weight: 600;
}
