@import "imports/common/fonts.css";
@import "imports/common/colors.css";

@import "imports/components/header.css";
@import "imports/components/buttons.css";
@import "imports/components/inputs.css";
@import "imports/components/notification.css";
@import "imports/components/table.css";

@import "imports/domains/auth.css";
@import "imports/domains/catalog.css";
@import "imports/domains/module.css";
@import "imports/domains/section.css";
@import "imports/domains/admin.css";


/* COMMON STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: #e9e9f1;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* COMMON STYLES END */

