@import "imports/fonts.css";
@import "imports/colors.css";
@import "imports/header.css";
@import "imports/auth.css";
@import "imports/notification.css";
@import "imports/section.css";
@import "imports/catalog.css";


/* COMMON STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: #e9e9f1;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 13px 15px;
    text-decoration: none;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
    min-width: 130px;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: background-color ease .3s;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--primary-darker);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group + .input-group {
    margin-top: 20px;
}

input:not([type="checkbox"]), select {
    padding: 13px 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 1rem;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked + label::before {
    border-color: var(--primary);
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled + label::before {
    background-color: #e9ecef;
}

input.error, select.error {
    border-color: red;
}

.input-error {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
}

/* COMMON STYLES END */

